/* Feel free to use your own button CSS code (from previous challenge) */
/* Here is a sample button design */

.btn-green {
  color: white;
  padding: 25px 35px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #3ac162;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: #6AD58B;
  text-decoration: none;
  color: white;
}

.btn-yours {
    text-decoration: none;
    color: #C0D9E5;
    padding: 25px 35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    background: #C0D9E5;
    transition: background 0.3s ease;
    margin-top: 100px;
}
.btn-yours:hover {
    opacity: 1;
    background: #C0D9E5;
    text-decoration: none;
    color: white;
}
/* Your button CSS code here */
