.card {
  position: relative;
  height: 300px;
  background-size: cover !important;
  background: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('../../images/background_2.jpg');
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  border-radius: 5px;
  opacity: 0.9;
  margin-top: 10px;
}

.card:hover {
 opacity: 1;
 margin-top: 10px;
}

.card-user {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.8;
}

.card-user:hover {
  opacity: 1;
}

.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-description h2 {
    font-size: 30px;
}

.card-description p {
    font-size: 15px;
    font-style: italic;
}

#avatar-2 {
    right: 80px;
}

#avatar-3 {
    right: 150px;
}

